upstream supervisor-config {
	
	server 0.0.0.0:5000;

}

server {
	
	listen 80;
	root /var/www;
	server_name vagrant-flask-exp.com;
	access_log /var/log/nginx/test.log;

	location / {

		proxy_pass http://supervisor-config;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

	}

}